<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI career Copilet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <Header>
        <div class="container">
            <nav>
                <a href="/history">History</a>
                <a href="/dashboard">dashboard</a>
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </Header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p style="margin-left: 180px;">
            @2026 AI career Copilet
        </p>


    </footer>
</body>

</html>