# Virtual environment
venv/
.venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite Database
database.db

# macOS System Files
.DS_Store

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
